// Input
input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:caps_toggle"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    focus-follows-mouse
}


