
// # Startup
spawn-at-startup "swaybg" "-i" "/home/r3xye/Pictures/Wallpapers/gruvbox-arch-sunrise.png" "-m" "fill"
spawn-at-startup "swaync"
spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/home/r3xye/.local/bin/niri-auto-single-window-width"
//hotkey-overlay {
    // skip-at-startup
//}

// # Misc
prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
