
// # Window Rules
window-rule {
    match is-active=false
    opacity 0.94
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
