// Window Rules
window-rule {
    match is-active=false
    opacity 0.94
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"^(kitty|org\.wezfurlong\.wezterm|Alacritty|foot)$"#
    open-on-workspace "dev"
}

window-rule {
    match app-id=r#"^(firefox|chromium|google-chrome|brave-browser)$"#
    open-on-workspace "web"
}

window-rule {
    match app-id=r#"^(org\.telegram\.desktop|Telegram|discord)$"#
    open-on-workspace "chat"
}

window-rule {
    match app-id=r#"^(mpv|vlc|spotify|Spotify|spotify-client|com\.spotify\.Client|obs)$"#
    open-on-workspace "media"
}

window-rule {
    match app-id=r#"^(steam|Steam)$"#
    open-on-workspace "game"
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}
